.grid-box {
  animation: scrollDiagonal 60s linear infinite;
}
@keyframes scrollDiagonal {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}

.glow-ring {
  position: absolute;
  width: 50%;
  aspect-ratio: 1 / 1;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(circle, #6712ce, transparent 50%, transparent);
  opacity: 0.7;
}
