@import "tailwindcss";

@theme {
  --font-pretendard: var(--font-pretendard);
  --font-sinchon-rhapsody: var(--font-sinchon-rhapsody);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-price-rise: #ff0000;
  --color-price-fall: #0000ff;

  --color-position-long-1: #ad2c2c;
  --color-position-long-2: #c43a3a;
  --color-position-long-3: #d74848;
  --color-position-long-strong: oklch(0.637 0.237 25.331);

  --color-position-short-1: #2d5ab9;
  --color-position-short-2: #3b69cb;
  --color-position-short-3: #4978dd;
  --color-position-short-strong: oklch(0.623 0.214 259.815);

  --color-position-red-1: #ad2c2c;
  --color-position-red-2: #c43a3a;
  --color-position-red-3: #d74848;
  --color-position-red-strong: oklch(0.637 0.237 25.331);

  --color-position-blue-1: #2d5ab9;
  --color-position-blue-2: #3b69cb;
  --color-position-blue-3: #4978dd;
  --color-position-blue-strong: oklch(0.623 0.214 259.815);

  --color-position-green-1: #2db95a;
  --color-position-green-2: #3bcb69;
  --color-position-green-3: #49dd78;
  --color-position-green-strong: oklch(0.623 0.214 145);

  --color-gray-75: #f6f7f8;
  --color-gray-150: #eceef1;
  --color-gray-250: #c7ccd4;
  --color-gray-275: #cbced1;

  --color-kakao-container: #fee500;
  --color-kakao-symbol: #000000;
  --color-kakao-text: rgba(0, 0, 0, 0.85);

  --breakpoint-xl: 1280px;
  --breakpoint-full: 1700px;
}

@custom-variant mouse (@media screen and (pointer: fine));
@custom-variant touch (@media screen and (pointer: coarse));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    background-color: rgb(1, 0, 24, 1);
  }

  body {
    /* color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb)); */

    font-family: "Pretendard", sans-serif !important;
    line-height: normal;

    letter-spacing: -0.02em;
    line-height: 100% !important;

    background-attachment: fixed !important;
    position: relative;
    /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: <explanation> */
    background: linear-gradient(
      188deg,
      rgb(3, 2, 30) 0%,
      rgb(23, 23, 72) 40%,
      rgb(33, 33, 86) 72%,
      rgb(48, 81, 120) 100%
    );

    min-height: 100dvh;

    @apply overflow-x-hidden text-slate-100;
    transition: background-color 0.5s ease-in-out;
  }

  body.mine {
    background: #000000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 140% !important;
  }

  input,
  textarea,
  button {
    appearance: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: none;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button {
    @apply flex justify-center items-center cursor-pointer;
  }
  input:focus {
    outline: none !important;
    outline-offset: 2px !important;
  }
  select:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }
  button:focus {
    outline: none !important;
    outline-offset: none !important;
  }
  textarea:focus {
    outline: none !important;
    outline-offset: none !important;
  }

  /* ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
  }
  body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  body::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgb(12, 12, 46);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #425167;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 9999px;
    transition: all 0.3s;
    outline: none;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(50, 62, 79);
  } */
}

@layer utilities {
  .prevent-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .scroll-transparent {
    overflow-y: overlay;
  }
  .scroll-transparent::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }
  .scroll-transparent::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
  }
  .scroll-transparent::-webkit-scrollbar-thumb {
    background-color: #425167;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 9999px;
    transition: all 0.3s;
    outline: none;
  }
  .scroll-overlay {
    scrollbar-gutter: both-edges;
  }

  .flex-center {
    @apply items-center justify-center;
  }
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .skeleton {
    color: transparent !important;
    animation: fade-in 0.5s ease-in, var(--animate-pulse);
    animation-delay: 0s, 0.5s;
    @apply after:content-['S'] rounded-lg bg-slate-700/30 transition-opacity;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
  .animate-shine {
    animation: shine 5s linear infinite;
  }

  @keyframes fade-blur-down {
    0% {
      transform: translateY(-24px);
      filter: blur(6px);
    }
    10% {
      filter: blur(6px);
    }
    80% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(0);
      filter: blur(0px);
    }
  }
  .animate-fade-blur-down {
    animation: fade-blur-down 1s ease-in-out;
  }

  @keyframes hammer-motion {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .animate-hammer-motion {
    animation: hammer-motion 0.5s ease-in-out;
  }

  @keyframes draw-outline {
    0% {
      clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
    }
    25% {
      clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }
    50% {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    75% {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
  .animate-draw-outline {
    animation: draw-outline 1s ease-in-out;
  }

  @keyframes fade-pop {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    75% {
      transform: scale(1.01);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  .animate-fade-pop {
    animation: fade-pop 0.5s ease-in-out;
  }
}

@layer components {
  .trade-slider {
    input[type="range"] {
      -webkit-appearance: none; /* 기본 스타일 제거 */
      width: 100%; /* 원하는 넓이 설정 */
      height: 16px; /* 높이는 thumb 크기와 일치 */
      background: transparent; /* 기본 배경 제거 */
      position: relative;
      z-index: 10;
    }

    /* Track 스타일 */
    input[type="range"]::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background: transparent;
    }

    input[type="range"]::-moz-range-track {
      background: transparent;
    }

    input[type="range"]::-ms-track {
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    /* Thumb 스타일 */
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; /* 기본 스타일 제거 */
      width: 16px;
      height: 16px;
      background: #6d28d9 !important; /* 보라색 */
      &:hover {
        background: #8b5cf6; /* 보라색 */
      }
      &:active {
        background: #7c3aed; /* 보라색 */
      }
      transition: background 0.15s;
      border-radius: 50%; /* 원형 */
      cursor: pointer;
      margin-top: 0px; /* 중앙 맞추기 */
      border-width: 10px;
      border-color: #4c1d95;
    }

    input[type="range"]::-moz-range-thumb {
      width: 16px;
      height: 16px;
      background: #6d28d9;
      &:hover {
        background: #8b5cf6; /* 보라색 */
      }
      &:active {
        background: #7c3aed; /* 보라색 */
      }
      transition: background 0.15s;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }

    input[type="range"]::-ms-thumb {
      width: 16px;
      height: 16px;
      background: #6d28d9;
      &:hover {
        background: #8b5cf6; /* 보라색 */
      }
      &:active {
        background: #7c3aed; /* 보라색 */
      }
      transition: background 0.15s;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .price-color {
    @apply text-slate-400;

    &.rise {
      @apply text-position-long-3;
    }
    &.fall {
      @apply text-position-short-3;
    }
  }

  .common-panel {
    @apply rounded-2xl bg-slate-600/30 border border-slate-600/50;
    &.padding {
      @apply max-md:p-5 md:p-6;
    }
  }
  .modal-panel {
    @apply bg-slate-800/50 backdrop-blur-2xl rounded-xl;
    &.padding {
      @apply max-md:p-5 md:p-6;
    }
  }
  .layer1 {
    @apply bg-slate-500/20 rounded-lg;

    &.hover {
      @apply hover:bg-slate-500/30;
    }
  }
  .layer1-1 {
    @apply bg-slate-700/30;
  }
  .layer2 {
    @apply bg-slate-500/50 rounded-lg;
    &:hover {
      @apply bg-slate-500/70;
    }
  }
}
